#root{
--main-dark-color:#07192b;
--main-light-color:#cbcbcb;
}

html, body, #root,.App{
  margin: 0;
  padding:0;
  height:100%;
  width:100%;
}

h1{
  align-self:center;
  margin-left: 5%;
  margin:0;
  font-family: 'Roboto',sans-serif;
  font-size:3.5rem;
  font-weight:100;
  color:var(--main-dark-color);
}
ul  {
  padding:0;
}

.header-app{
  grid-column:2/4;
  padding: 0 20px 0 20px ;
  display:flex;
  justify-content: space-between;

    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Crect fill='%23ff7700' width='1600' height='900'/%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23ca002c' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23a70022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23c6004c' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23a3003c' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23c0006a' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%239d0055' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23b7008a' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2394006e' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");


  
}

.App{
  
  display: grid;
  grid-template-columns: 200px 1fr 400px;
  grid-template-rows: 100px 1fr 1fr 20px;
}


/* CSS NAVIGATION*/
#navigation{
  
  background:var(--main-dark-color);
  grid-row: 1/5;
  display:flex;
  flex-direction:column;
  flex-shrink:0;
  transition: 2s;
}

.navigation-header{
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  padding:2px 10px 2px 10px ;
}
.navigation-title{

font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 1.5rem;
line-height: 100px;
text-align: center;
letter-spacing: 0.2em;

background:var(--main-light-color);
background-clip: text;
color: #07192b4d;
mix-blend-mode: luminosity;
  
}
.navigation-title::before{
  content:"KARRAKELA";
  position:absolute;
  left:1%;
  top:0.5rem;
}

.toggle-menu {
  display: none;
  
}

#navigation li {
  padding: 8px;
  text-decoration: none;
  font-size: 1.1rem;
  color:var(--main-light-color);
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.2em;
  display: block;
  transition: 0.3s;
  cursor:pointer;

}

#navigation li:hover{
  color: #f1f1f1;
}

/* Sur tous types d'écran, quand la largeur de la fenêtre est inférieure à 1024px*/
@media all and (max-width: 1200px){
  .App{
   display: flex;
   flex-flow:column nowrap;
   
  }
  .header-app h1{
    display:none;
  }

  .toggle-menu {
    display: inline-block;
    cursor: pointer;
    margin:5px;
  }
  .navigation-header{
    justify-content: space-between;
   
  }
  .navigation-title{
        line-height: 50px;
     
      
    }

  .navList{
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    transition: .5s;
    height:0;
    padding:0;
    margin:0;
    opacity:0;
    padding:0;
    }
    #navigation li {
      font-size:2rem;
    }
        
    .fullScreen .navList{
      display: flex;
      flex-direction: column;
      flex-grow:1;
      justify-content:center;
      row-gap: 20px;
      overflow: hidden;
      opacity:1;
      transition-duration: 1s;

      
    }
    .fullScreen{
  
      width:100%;
      height:100%;
      
    
     
    }
    

    .header-app{
      align-content:center;
      justify-content: center;
      
      
    }
}












.navList{
  align-self:center;
  list-style-type: none;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--main-light-color);
  mix-blend-mode: luminosity;
  margin: 6px 0;
  transition: 1s;
  border-radius:1.5px;
}

.fullScreen .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.fullScreen .bar2 {opacity: 0;}

.fullScreen .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.sensorDashboard{
background:cyan;
display:flex;
justify-content:center;
align-items: center;;
}
.messagesSpot{
  background:magenta;
}
.cartographie{
  background:yellow;
  grid-area:2/2/3/3;
}
.filActualites{
  background:maroon;
  grid-area:3/2/5/3;
}
.contact{
  background: mediumorchid;
}



#chronometre{
  
  display:grid;
  grid-template-columns:1fr 10px 1fr 1fr 1fr;
  gap: 2%;
  padding:5px;
  align-self:center;
 
}

.bloc-chronometre{
  background: var(--main-dark-color);
  color:var(--main-light-color);
  border-radius:5px;
  width:40px;
  aspect-ratio:1;
  
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding:5px;
}

.valeur-chrono{
  font-family: 'Roboto','sans-serif';
  font-size:1.5rem;
  font-weight:500;
}

.unite-chrono{
  font-family: 'Roboto','sans-serif';
  font-size:0.8rem;
  font-weight:100;
}

.text-centered{
  text-align: center;
}

